
**/doc/api/
**/ios/Flutter/.last_build_id
*.class
*.iml
*.ipr
*.iws
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.history
.idea/
.packages
.pub-cache/
.pub/
.svn/
.vscode/
/android/app/profile
/android/app/release
/build/
:/android/app/debug
android/app/build/
android/app/gradle.build
android/build/
android/gradle/
android/gradlew
android/gradlew.bat
android/local.properties
app.*.map.json
app.*.symbols
build/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/Generated.xcconfig
ios/Pods/
ios/Runner.xcworkspace
migrate_working_dir/
*.apk
*.apk.sha1